@import '../../Res/Fonts/Khula-Light.ttf'

.FirstSectionContainer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.VegPlateImage{

    padding-top: 120px;
}

.PlateDiv{

    background-color: #F1F7EA;
    min-width: 66%;
}

.FirstTitle{
   padding: 20px;
   font-size: 55px;
   font-weight: bold;
   text-align: left;
font: normal normal 800 70px/80px ;
letter-spacing: 0px;
color: #1D1D1D;
}

.SecondTitle{
   
padding: 20px;
font-size: 40px;
font-weight: 100;
line-height: normal;
}

.TextDiv{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: visible;
    min-width: 34%;
    z-index: 9;
}

.LearnButton{
    
    width: 40%;
    background-color: #A2DE96;
}