.SiteNavDiv{

    display: flex;
    flex-direction: row;
    
}

.NavMenuItem{
padding-left: 30px;
    font-size: 15px;
    
}

.dropDownMenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px; 
}