.RecipeRow{

    display: flex;
    flex-direction: row;
}

.Latest{

    font-size: 30px;
}

.LatestRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.LeftArrow{

    transform: scaleX(-1);
}